<aside class="sidebar">
    <div class="sidebar__backdrop"></div>
    <div class="sidebar__container">
        <div class="sidebar__top">
            <div class="container container--sm">
                <a class="sidebar__logo" href="/dashbord">
                    <img class="sidebar__logo-icon" src="assets/img/content/LOGO-FINAL.png" alt="#" width="44" />
                    <div class="sidebar__logo-text">Deally</div>
                </a>
            </div>
        </div>
        <div class="sidebar__content" data-simplebar="data-simplebar">
            <nav class="sidebar__nav">
                <ul class="sidebar__menu">
                    <li class="sidebar__menu-item"><a class="sidebar__link" href="#" data-toggle="collapse"
                            data-target="#E-Commerce" aria-expanded="false"><span class="sidebar__link-icon">
                                <svg class="icon-icon-cart">
                                    <use xlink:href="#icon-cart"></use>
                                </svg></span><span class="sidebar__link-text">Shop</span><span
                                class="sidebar__link-arrow">
                                <svg class="icon-icon-keyboard-down">
                                    <use xlink:href="#icon-keyboard-down"></use>
                                </svg></span></a>
                        <div class="collapse" id="E-Commerce">
                            <ul class="sidebar__collapse-menu">
                                <li class="sidebar__menu-item"><a class="sidebar__link" href="/categories"><span
                                            class="sidebar__link-signal"></span><span
                                            class="sidebar__link-text">Categorie</span></a>
                                </li>
                                <li class="sidebar__menu-item"><a class="sidebar__link" href="products"><span
                                            class="sidebar__link-signal"></span><span
                                            class="sidebar__link-text">Products</span></a>
                                </li>
                                <li class="sidebar__menu-item"><a class="sidebar__link" href="orders"><span
                                            class="sidebar__link-signal"></span><span
                                            class="sidebar__link-text">Orders</span></a>
                                </li>
                                <li class="sidebar__menu-item"><a class="sidebar__link" href="/customers"><span
                                            class="sidebar__link-signal"></span><span
                                            class="sidebar__link-text">Customers</span></a>
                                </li>
                                <li class="sidebar__menu-item"><a class="sidebar__link"
                                        href="customer-account.html"><span class="sidebar__link-signal"></span><span
                                            class="sidebar__link-text">Account</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar__menu-item"><a class="sidebar__link active" href="#"
                            aria-expanded="true"><span class="sidebar__link-icon">
                                <svg class="icon-icon-dashboard">
                                    <use xlink:href="#icon-dashboard"></use>
                                </svg></span><span class="sidebar__link-text">Dashboard</span></a>
                    </li>
                    
                    <li class="sidebar__menu-item"><a class="sidebar__link" href="/calendar"
                            aria-expanded="false"><span class="sidebar__link-icon">
                                <svg class="icon-icon-calendar">
                                    <use xlink:href="#icon-calendar"></use>
                                </svg></span><span class="sidebar__link-text">Calendar</span></a>
                    </li>
                    <li class="sidebar__menu-item"><a class="sidebar__link" href="/mail" aria-expanded="false"><span
                                class="sidebar__link-icon">
                                <svg class="icon-icon-email">
                                    <use xlink:href="#icon-email"></use>
                                </svg></span><span class="sidebar__link-text">Mail</span><span
                                class="badge badge--red">20</span></a>
                    </li>
                    {{!-- <li class="sidebar__menu-item"><a class="sidebar__link" href="/chat" aria-expanded="false"><span
                                class="sidebar__link-icon">
                                <svg class="icon-icon-chat">
                                    <use xlink:href="#icon-chat"></use>
                                </svg></span><span class="sidebar__link-text">Chat</span></a>
                    </li> --}}
                    <li class="sidebar__menu-item"><a class="sidebar__link" href="/contacts"
                            aria-expanded="false"><span class="sidebar__link-icon">
                                <svg class="icon-icon-contacts">
                                    <use xlink:href="#icon-contacts"></use>
                                </svg></span><span class="sidebar__link-text">Contacts</span></a>
                    </li>
                    <li class="sidebar__menu-item"><a class="sidebar__link" href="/todo" aria-expanded="false"><span
                                class="sidebar__link-icon">
                                <svg class="icon-icon-todo">
                                    <use xlink:href="#icon-todo"></use>
                                </svg></span><span class="sidebar__link-text">ToDo</span></a>
                    </li>
                    <li class="sidebar__menu-item"><a class="sidebar__link" href="/file-manager"
                            aria-expanded="false"><span class="sidebar__link-icon">
                                <svg class="icon-icon-folder">
                                    <use xlink:href="#icon-folder"></use>
                                </svg></span><span class="sidebar__link-text">File Manager</span></a>
                    </li>
                   
                   
                    
                </ul>
            </nav>
        </div>
    </div>
</aside>